<body>
<p>Hello {{name}},</p>
<br/>
<p>{{welcomeText}} Coach-app,</p>
<p>
    {{clickText}}
    <b><a href='{{link}}' target='_blank'>{{hereText}}</a></b>
    {{activateAccountText}}
    {{link}}
</p>
<p><small>{{linkExpirationText}}</small></p>
<br/>
<p>{{luckText}}</p>
<p>Coach-app Team</p>
</body>